<h1>Professor: <%= @professor.name %></h1>

<p>Students<p><br/>
<% @professor.students.each do |student| %>
  <%= student.name %><br/>
<% end %>

<% ages = @professor.students.map do |student|%>
  <% student.age %>
<% end %>
<p>Average Student Age: <%= (ages.sum) / (ages.length) %></p>
